In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [7]:
import warnings
warnings.filterwarnings('ignore')
import os

## reading all the tsv files and extracting data from them

In [26]:
import pandas as pd
import os
import csv

df = pd.DataFrame()
a = pd.DataFrame()

for dirname, _, filenames in os.walk('/kaggle/input/employeedataset/dataset/train/boxes_transcripts_labels'):
    for filename in filenames:
        i = os.path.join(dirname, filename)
        with open(i, 'r') as file:
            reader = csv.reader(file)
            df = pd.DataFrame(reader) 
        a = a.append(df, ignore_index=True)

In [27]:
a.head(10)

    0   1     2     3     4     5             6      7
0   0   0  1090   761  1137   783        (C-Box  OTHER
1   0   0  1182   906  1259   946      Profile.  OTHER
2   0   0  1637   979  1762  1026  Information,  OTHER
3   0   0  1724  1607  1787  1640      Medicare  OTHER
4   0   0  1862  1616  1901  1640           :46  OTHER
5   0   0  1673  1754  1727  1790         88415  OTHER
6   0   0  1445  1782  1517  1814    Employer's  OTHER
7   0   0   737  2192   804  2217       1653.98  OTHER
8  67  74   461    95   556   134      Employee  OTHER
9  76  84   601   112   699   153     Reference  OTHER

In [28]:
a.columns = ['Start Index'
,'End Index'
,'x_top_left'
,'y_top_left'
,'x_bottom_right'
,'y_bottom_right'
,'Transcript'
,'Field']
a.head(20)

,Start Index,End Index,x_top_left,y_top_left,x_bottom_right,y_bottom_right,Transcript,Field
0,0,0,1090,761,1137,783,(C-Box,OTHER
1,0,0,1182,906,1259,946,Profile.,OTHER
2,0,0,1637,979,1762,1026,"Information,",OTHER
3,0,0,1724,1607,1787,1640,Medicare,OTHER
4,0,0,1862,1616,1901,1640,:46,OTHER
5,0,0,1673,1754,1727,1790,88415,OTHER
6,0,0,1445,1782,1517,1814,Employer's,OTHER
7,0,0,737,2192,804,2217,1653.98,OTHER
8,67,74,461,95,556,134,Employee,OTHER
9,76,84,601,112,699,153,Reference,OTHER
10,136,138,362,140,429,179,W-2,OTHER
11,162,165,550,144,595,165,Wage,OTHER
12,167,167,596,144,610,167,!,OTHER
13,169,169,618,146,629,169,),OTHER
14,171,173,630,147,661,174,and,OTHER
15,175,177,694,156,719,184,Tax,OTHER
16,179,182,767,142,812,170,Copy,OTHER
17,243,246,1130,150,1245,213,2018,OTHER
18,248,250,1247,168,1347,229,W-2,OTHER
19,252,254,1349,184,1443,244,and,OTHER

## Now using the tokens extracted from the tsv to extract data from images

## the function written below can be used to extract the data from all the images
### but not running since, will take v long time

In [9]:
from PIL import Image
import pytesseract

image_folder = '/kaggle/input/employeedataset/dataset/train/images'  
# Replace with the actual path to the image folder
image_paths = []
for dirname, _, filenames in os.walk('/kaggle/input/employeedataset/dataset/train/images'):
    for filename in filenames:
        i = os.path.join(dirname, filename)
        image_paths.append(i)  # List of image file names
tsv_data_list = a.to_records(index=False)  # Convert DataFrame to a list of records

extracted_data = []

for row, image_path in zip(tsv_data_list, image_paths):
    start_index = row[0]
    end_index = row[1]
    x_top_left = row[2]
    y_top_left = row[3]
    x_bottom_right = row[4]
    y_bottom_right = row[5]
    transcript = row[6]
    field = row[7]

    image = Image.open(image_path)
    image_png = image.convert("RGBA")
   
    text = pytesseract.image_to_string(image_png)
    extracted_data.append((start_index, end_index, text, field))

## therfore only extracting data from one image

In [10]:
tsv_data_list = a.to_records(index=False)  ## just converting the dataframe to list
tsv_data_list

rec.array([('0', '0', '1090', '761', '1137', '783', '(C-Box', 'OTHER'),
           ('0', '0', '1182', '906', '1259', '946', 'Profile.', 'OTHER'),
           ('0', '0', '1637', '979', '1762', '1026', 'Information,', 'OTHER'),
           ...,
           ('4707', '4714', '305', '774', '361', '793', 'Internal', 'OTHER'),
           ('4716', '4722', '364', '774', '430', '794', 'Revenue', 'OTHER'),
           ('4724', '4731', '433', '775', '491', '794', 'Service.', 'OTHER')],
          dtype=[('0', 'O'), ('1', 'O'), ('2', 'O'), ('3', 'O'), ('4', 'O'), ('5', 'O'), ('6', 'O'), ('7', 'O')])

In [14]:
start_index = tsv_data_list[0][0]  
end_index = tsv_data_list[0][1] 
x_top_left = tsv_data_list[0][2]
y_top_left = tsv_data_list[0][3]
x_bottom_right = tsv_data_list[0][4]
y_bottom_right = tsv_data_list[0][5]
transcript = tsv_data_list[0][6]
field = tsv_data_list[0][7]

In [19]:
extracted_data=[]

In [23]:
from PIL import Image
import pytesseract
image = Image.open('/kaggle/input/employeedataset/dataset/train/images/9adc02e5-bf38-48cd-ad47-df43236e97c6_document-9_page-1.jpg')
image_png = image.convert("RGBA")
text = pytesseract.image_to_string(image_png)
extracted_data.append((start_index, end_index, text, field))

In [21]:
extracted_data

[('0',
  '0',
  " \n\n \n\n \n\nEmployee Reference Copy\nWage and ‘Tax\nWwW Statement 201 8\nCopy C for employee's records OME Nostett 0008\nld Control number Dest Corp: Employer use only\nzosiiai 160 A 36\n\n \n\n \n\n \n\n \n\nlc Employer's name, address, and ZIP code\nTerry Group Inc\n207 Lisa Underpass Suite 644\n\nPort Kendra co 64443-3719\n°\n\nBatch #02021\n\n \n\nlelF_ Employees name, address and ZIP code\n\nKimberly Meyer\n380 John Bypass\n\n \n\n \n\n \n\n \n\n \n\n \n\n \n\n \n\n \n\n \n\n \n\n \n\n  \n\n \n\n \n\n \n\n \n\n \n\n \n\n \n\n2018 W-2 and EARNINGS SUMMARY\n\nA?\n\nThis blue Earnings Summary section is included with your W-2 to help describe portions in more detail.\nThe reverse side includes general information that you may also find helpful.\n\n \n\n1. The following informa’\n\nin reflects your final 2018 pay stub plus any adjustments submitted by your employer.\n\n \n\n \n\nGross Pay 97114.19 Social Security 6490.7 NE. State Income Tax 2928.99\nTax Withheld Box 17 of W-2\nBox 4 of W-2 Local Income Tax 13303.26\nBox 19 of W-2\nFed, Income 1942.3 Medicare Tax 1946.87\nTax Withheld Withheld SUIWSDIFLI\nBox 2 of W.2 Box 6 of W-2 Box 14 of W-2\n2. Your Gross Pay was adjusted as follows to produce your W-2 Statement.\nWages, Tips, other Social Secui Medicare NE.State Wages, Dennis Keys\n\n \n\n \n\n \n\n   \n\n \n\n \n\nSouth Natasha NY 21480-3423 Compensation Wages Wages. Tips. Ete Local Wages,\n° Box 1 of W-2 Box 3 of W-2Box 5 of W.2 Box 16 of W-2 Tips, Ete.\nBox 18 of W2\nlb Employer's FED ID number fa Employee's SSA number\n57-4496004 458-59-1504 Gross Pay 9711419 97114 97114.19 97114.19 97114.19\nPlus GTL (C-Box 12) 4069 4069 4069 4069 4069\n1 Wages. fips, other comp. 2 Federal income tax withheld Less 401(k) (D-Box 2) 446 NA NA 446 NA\n72621.19 11942.3 Less Other Café 125 1942.3 119423119423 1942.3 1942.3\nReported W-2 Wages 7868119 7868119 7868119 7868119 7868119\n3. Social security wages 4 Social security tax withheld\n4245.71 6490\n5 Medicare wages and tips |S. Medicare tax withheld 3. Employee W-4 Profile. To change your Employee W-4 Profile Information, file a new W-4 with your payroll dept.\n67133.49 1946.87\n7 Social security tips 18 Allocated tips Social Security Number: 458-69-1504\n4245.71 67133.49 } Taxable Marital Status. MARRIED:\nRamberly, mevex Exemptions/Allowances:\nI) Verification Code Hd Dependent care benefits FEDERAL: 4\ni ue 380 John Bypass cae a\nLOCAL:\nPort Kendra co\n11 Nonqualified plans 12a See instructions for box 12\n152\n4069\n14 Other 446\n621\nra pany\n15 State Employers’ state IDno. [16 State wages, tips, ete.\nNE j223-29-920 36972.49\n47 State income tax 18 Local wages, tips, etc.\n2925.99 26969.11\n1419 Local income tax 20 Locality name\n13303.26 Dennis Keys © 2018 ADP, LLC\nWages, fips, other comp. 2 Federal income tax withheld Wages, tips, other comp. 2 Federal income tax withheld Wages, fips, other comp. 2 Federal income tax withheld\n7262.19 11942.3 7262119 11942.3 79621.19 1942.3\n3 Social security wages 14 Social security tax withheld 3 Social security wages 4 Social security tax withheld 3 Social security wages 4 Social security tax withheld\n4245.71 6490.7 4245.71 6490 4745.72 6490.7\n5 Medicare wages and tips Is Medicare tax withheld 5 Medicare wages and tips 16 Medicare tax withheld 5 fare wages and tips IS Medicare tax withheld\n67133.49 1946.27 67133.49 1946.87 6733.49 1946.27\nld Control number Dest. Corp. Employer use only ld Control number Dept Corp. Employer use only fontrol number Dect Core. Employer use only\n}aO51131 150 A 36 2051131 150 A 2131 150 A 36\n\n \n\n \n\n \n\n \n\n \n\n \n\n \n\nle Employers name, address, and ZIP code\nTerry Group Inc\n207 Lisa Underpass Suite 644\n\nje Employer's name, address, and ZIP code\nTerry Group Inc\n207 Lisa Underpass Suite\n\n \n\n \n\n \n\n \n\n \n\n \n\n \n\n \n\n \n\n \n\n \n\n \n\n \n\n \n\n \n\n \n\n \n\n \n\nEmployers name, address, and ZIP code\n\nTerry Group Inc\n207 Lisa Underpass Suite 644\n\n \n\n \n\n \n\n \n\n \n\n \n\n \n\n \n\n \n\n \n\n \n\n \n\n \n\n \n\n \n\n \n\n \n\n \n\n \n\n \n\n \n\nPort Kendra co 64443-3719 Port Kendra co Port Kendra co 64443—\n° ° °\nb_ Employer's FED 1D number fa Employee's SSA number lb Employer's FEI lb Employer's FED 1D Employee's SSA number\n57-4496004 a 52 570 o\n7 Social security tips I8 Allocated tips IB Allocated tips\n2424571, 67133.49 67133.49\nIS Verification Code Fi. Dependent care benefits Verification Code 0 Dependent care\na 208 0\n1 Nonqualified plans fia See instr Fi Nonqualified plans for box 12,\n152 152\n14569\nia Other a ad b | 446\ni 63 2c | 631\ni 1 age ad | 882\n3 82 7. Plan [3rd pariy sick pay [3 Stat emfRet. Plan [3rd party sick pay\no a a D x\nlef Employees name, address and ZIP code ployees name, address and ZIP code\nKimberly Meyer Kimberly Meyer\n380 John Bypass 380 John Bypass\nSouth Natasha NY 21480-3423 South Natasha NY 21480-3423\n° °\nAS State Employers’ statelno. 16 State wages, tips, s, tips, ete. a5 State Employers’ state iDnd1 State wages. tips, ete.\nNE \\z2-29-920 FE .49 36972.49 NE |s2-29-920 36972.49\n7 State income tax 8 Local wages. tips, ete. 18 Local wages, tips, ete. 7 State income tax 18 Local wages, tips. ete.\n2925.99 26969.11 36969.11, 2925.99 36969.15\n9 Local income tax [20 Locality name e tax [20 Locality name 9 Local income tax fi Locality name\n13303.26 Deny 23.26 Dennis Keys 13303.26 Dennis Zeys\nFederal Filing NE. State Filing Copy City or Local Filing Copy\nWage and Wage and Tax Wage and Tax\nStatement Statement Statement\n\nW-2\n\nCony B to be filed with employee's Federal I MIB No. 1848-0008\n\n \n\nW-2\n\nCopy 2 to be filed with employ\n\n2018\n\nOMB No. 1845-0008,\n\n \n\nState Income Tax Return\n\n \n\n \n\nW-2\n\n[Copy 2 to be filed with employee's City or Local Income Tax Retur OMB No\n\n2018\n\n \n\n008\n\n \n\n \n\x0c",
  'OTHER')]

In [30]:
df_extracted_data = pd.DataFrame(extracted_data, columns=['start_index','end_index','transcript', 'field'])

## now we have data therfore now can process it

## cleaning data--> removing stop words, punctuations etc

In [ ]:
import nltk
from nltk.corpus import stopwords
import string
from nltk.stem import WordNetLemmatizer
from nltk.corpus import wordnet

In [ ]:
stops = set(stopwords.words('english'))
punc = list(string.punctuation)
stops.update(punc)
lemmatizer = WordNetLemmatizer()

In [ ]:
import re
from nltk import pos_tag

In [ ]:
function to clean the transcript

In [ ]:
def get_clean(w):
    clean = []
    w = re.sub(r'http\S+', '', w) 
    w = re.sub(r'@[A-Za-z0-9]+', '', w) 
    w = re.sub(r'#', '', w)
    if w.lower() not in stops:
        pos = pos_tag([w])
        w = ' '.join([lemmatizer.lemmatize(i ) for i in w.split()])
    
    return w

In [ ]:
df_extracted_data['transcript']=df_extracted_data['transcript'].apply(get_clean)

## will use CountVectorizer to make dataset from the lemmatized words

In [32]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.feature_extraction.text import CountVectorizer
count_vec = CountVectorizer(max_features = 100000,ngram_range = (1,3))

## now just simply apply the naivebayes on the dataset formed by the count_vectorizer and train the model ,
## similarly we can validate our model too